[Unit]
Description=METAR Map
After=network.target

[Service]
Type=simple
User=root
Environment=MIX_ENV=prod CROSSCOMPILE=1
WorkingDirectory=/root/metar_map
ExecStartPre=/usr/bin/git pull
ExecStartPre=/usr/bin/mix deps.get
ExecStartPre=/usr/bin/mix phx.digest
ExecStart=/usr/bin/mix phx.server
Restart=always
TimeoutStartSec=10m

[Install]
WantedBy=multi-user.target